services:
  db:
    image: postgres:17
    container_name: reagen-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: reagen
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reagen-api
    depends_on:
      - db
    ports:
      - "5000:8080"

    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrations
    depends_on:
      - db

volumes:
  db-data:
